.idea/*
node_modules/*
log/*
.DS_Store
config/secret.js
config/kakao_config.js
config/runnerbe-f1986-firebase-adminsdk-frfin-c125099a1f.json
src/app/Admin/adminRoute.js
src/app/Admin/adminController.js
src/app/Admin/adminDao.js
src/app/Admin/hi.html
src/app/Admin/message.html
src/app/Admin/scss
src/app/Admin/vendor